
@model IEnumerable<Product>
    @foreach (var p in Model)
{
    <div id="product" class="hide">
        <h3>@p.ProductName</h3>
        @p.ProductDescription
        <h4>@p.ProductPrice.ToString("c")</h4>
    </div>
}

<div class="row">
    <p class="col-2" id="productUserCounter"> Currently on the category page there is: </p>
</div>

